* {
  margin: 0;
  font-family: 'Roboto';
  font-display: swap;
}

:root {
  --scroll-bar-color: #4d4d4d;
  --scroll-bar-bg-color: rgba(0, 0, 0, 0.16);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
}
